<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoQA Test Suite" verbose="1">
    <test name="DemoQA Tests">
        <classes>
            <class name="com.demoqa.tests.TextBoxTest"/>
            <class name="com.demoqa.tests.ButtonsTest"/>
            <class name="com.demoqa.tests.UploadDownloadTest"/>
            <class name="com.demoqa.tests.AlertsTest"/>
            <class name="com.demoqa.tests.WindowsTest"/>
        </classes>
    </test>
</suite>
